* body {
    padding: 0;
    box-sizing: border-box;
  }
  
  /*PORTADA*/
  
 
 

  
  
  
  img {
    width: 100%;
    margin-right: 50px;
    box-shadow: 0px 3px 5px rgba(rgb(255, 255, 255), rgb(38, 39, 38), brgb(65, 65, 66) alpha);
  }
  
  /*CUENTA REGRESIVA*/
  
  @media (max-width: 730px) {
    .cuenta-regresiva {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 1em;
      padding: 0.8em;
      margin-top: 8%;
  }
  .cr-time > span {
      font-size: 18px;
      font-weight: bold;
      color: #68824d;
      
  }
  .cr-desc {
      color: rgb(125, 125, 125);
       font-family: "Playfair Display", serif;
      
  }
  .cr-block {
      background: #c9c9c92e;
      border-radius: 5px;
      padding: 0.1em 0.5em;
      background-size: 80%;
  }
  .segundo{
width: 17%;
margin-top: -29%;
margin-left: 68%;
  }

  .parrafo1{
    text-align: center;
              font-family: "Poppins", sans-serif;
       font-size: 18px;
       color: #6b6b6b;
       margin-top: -165%;
  }
  
  .linea{
    color:#6B928F;
    width: 70%;
   margin-left: 15%;
   
  }
  .parrafovestimenta{
    text-align: center;
    font-family: 'Great Vibes', cursive;
     font-size: 35px;
     color: #6B928F;
     margin-top: 10%;
  }
  .parrafo2{
    text-align: center;
    font-family: 'Great Vibes', cursive;
     font-size: 40px;
     color: #6f846f;
     margin-top: -5%;
  }
  .parrafo3{
    text-align: center;
     font-family: "Poppins", sans-serif;
     font-size: 18px;
     color: #6f6e6e;
  }
  .click1 {
    padding: 2px 10px;
    font-size: 19px;
    font-weight: 1200;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #68824d;
    border-radius: 7px;
    box-shadow: 1px 1px 30px -5px rgb(232, 248, 207);
    cursor: pointer;
    margin-left: 36%;
    background-size: 120%;
    margin-top: 4%;
    background-image: url(./imagenes/brillo.gif);
    background-size: 150%;
      font-family: "Poppins", sans-serif;
  }
  .iglesia{
    width: 20%;
    margin-left: 40%;
  }
   .almuerzo{
    width: 13%;
    margin-left: 44%;
  }
   .anillos{
    width: 15%;
    margin-left: 43%;
  }
   .percha{
    width: 15%;
    margin-left: 44%;
  }
   .copas{
    width: 43%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5;
  }
 .imguno{
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
 }
  .imgdos{
  width: 70%;
  margin-left: 16%;
  margin-top: 5%;
 
 }
  .parrafo04{
    text-align: center;
    font-family: 'Dancing Script', cursive; 
     font-size: 27px;
     color: #888888;
     margin-top: -40%;
     

  }
  
  
  .galeria{
    width: 9%;
  margin-left: 46%;
  margin-top: 19%;
  }
  .carousel-inner img{
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
  }
  
  .cardimg{
    width: 60%;
    height: 60%;
    margin-left: 20%;
   
  }
  
  .cardtitle{
    text-align: center;
    font-family: 'Dancing Script', cursive; 
     font-size: 27px;
     color: #888888;
  }
  .cardtext{
    text-align: center;
    font-family: 'Dancing Script', cursive;
     font-size: 18px;
     color: #888888;
     margin-top: 10%;
  }
  .cardtext1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
     font-size: 18px;
     color: #888888;
     margin-top: 3%;
  }
  .mapa{
    width: 80%;
    height: 80%;
    margin-left: 16%;
  margin-top: 5%;

  }
  .hojas{
    width: 30%;
    margin-left: 36%;
    margin-top: -15%;
  }
  
  .btn_btn-primary{
    padding: 1px 9px;
    font-size: 24px;
    font-weight: 1200;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #6B928F;
    border-radius: 7px;
    box-shadow: 1px 1px 30px -5px rgb(232, 248, 207);
    cursor: pointer;
    margin-left: 35%;
    background-size: 120%;
    margin-top: 4%;
    background-image: url(./imagenes/grises.gif);
    background-size: 50%;
    font-family: 'Dancing Script', cursive;
  }
  .fondo2{
    margin-top: 5%;
  }
 .main1{
  margin-top: 50%;
 }
 .parrafo6{
  text-align: center;
    font-family: 'Great Vibes', cursive;
     font-size: 25px;
     color: #888888;
     margin-top: 8%;
    
     
 }
 .whatsap{
  width: 40%;
  margin-left: 30%;
 }
.icono{
  text-align: center;
    font-family:'Times New Roman', Times, serif; 
     font-size: 13px;
     color:#6B928F;
    
 }
 .whatsap2{
  width: 40%;
  margin-left: 30%;
 }
 .sabri{
  width: 20%;
  margin-top: -50%;
  margin-left: 18%;
 }
 .jon{
  width: 20%;
  margin-top: -50%;
  margin-left: 18%;
 }
 .fondo4{
  margin-top: -15%;
 }
 

 .arrow span {
  margin-top: -5%;
  display: block;
  width: 14px;
  height: 14px;
  border-bottom: 5px solid rgb(179, 179, 179);
  border-right: 5px solid rgb(182, 210, 181);
  transform: rotate(45deg);
margin-left: 48%;
  animation: animate28797 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate28797 {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
 .parrafo_deposito{
  text-align: center;
  color: #686868;
  font-size: 25px;
  font-family: 'Great Vibes', cursive;

 }

 .card_card-body img{
  margin-left: 20%;
  background-size: 80%;
  width: 75%;
}
.caja_regalo{
  margin-top: 15%;
}
.card_card-body{
  text-align: center;
  color: #686868;
  font-size: 16px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn_btn-primary2{
  padding: 1px 9px;
  font-size: 25px;
  font-weight: 1200;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #6B928F;
  border-radius: 7px;
  box-shadow: 1px 1px 30px -5px rgb(232, 248, 207);
  cursor: pointer;
  margin-left: 42%;
  background-size: 120%;
  margin-top: 4%;
  background-image: url(./imagenes/grises.gif);
  background-size: 50%;
  font-family: 'Dancing Script', cursive;
}
 .parrafo_esperamos{
  text-align: center;
    font-family: 'Dancing Script', cursive;
     font-size: 27px;
     color: #888888;
     margin-top: 5%;
 }
 .linea4{
  margin-top: -5%;
  color: #f3f3f3;
}

 .linea3{
    color:#6B928F;
    width: 70%;
   margin-left: 15%;
   margin-top: -10%;
}



.tecla {
margin-top: -50%;
 margin-left: 50%;
}


.box__copyright {
  max-width: 1200px;
  padding: 18px 7px;
  text-align: center;
  margin-top: 20%;
  background-color: #f3f3f3;
  font-size: 100%;
}

.box__copyright p {
  margin-top: -10px;
  color: #c3b1b1;
  font-size: 12px;
  text-align: center;
}

.box__copyright a {
  text-decoration: none;
  color: #b4b4b4;
}
.logo{
  width: 22%;
  margin-left: 62%;
  margin-top: 75%;
}
.novios{
  width: 55%;
  margin-left: 24%;
}
.gif-final {
width: 20%;
margin-top: -48%;
margin-left: 52%;
}
.almanaque{
  width: 75%;
   display: block;
  margin: 0 auto;
  margin-top: 35%;
}



 /* Contenedor redondo */
  .music-player {
    width: 50px;
  height: 50px;
  background: #6b928fa2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  animation: float 2s ease-in-out infinite; /* movimiento arriba-abajo */
  
  /* Fijar arriba */
  position: fixed;
  top: 20px;   /* distancia desde arriba */
  right: 70px; /* lo mantiene a la derecha */
  z-index: 9999; /* asegura que quede por encima de todo */
  
  }


  /* Botón play */
  .play-btn {
    font-size: 28px;
    color: white;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
   /* Animación de flotación */
  @keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }
  

}
 